# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Unit test / coverage reports
coverage/
htmlcov/
*.cover
*.pyc
*.pyd
*.pdb
*.log
*.sqlite3

# Test / scan reports
bandit-report.*
dependency-check-report/
trivy-*.*
*.sarif
*.json
*.xml
*.txt
*.html

# Docker related
Dockerfile
.dockerignore

# SonarQube
.sonar/
.sonar-project.properties

# Git
.git/
.gitignore

# Jenkins
Jenkinsfile

# Python environments
.env
.venv
env/
venv/
*.env

# OS or Editor-specific
*.swp
*.DS_Store
.idea/
.vscode/
*.bak
