__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/
*.env
coverage/
htmlcov/
*.cover
*.log
*.pdb
*.sqlite3
bandit-report.*
dependency-check-report/
trivy-*.txt
trivy-*.json
trivy-*.html
.sonar/
.sonar-project.properties
.git/
.gitignore
*.swp
*.DS_Store
.idea/
.vscode/
*.bak
